<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="QLBHConnection"
			 connectionString="Server=.;Database=QLBH;Integrated Security=True;TrustServerCertificate=True;MultipleActiveResultSets=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>